.header {
    z-index: 3;

    &__wrapper {
        width: 100%;
        padding: toRem(12) toRem(24);
        display: flex;
        justify-content: space-between;
        font-family: var(--font-br-sonoma);    
        align-items: center;
    }

    &__logo {
        &__img {
            img {
                width: toRem(65.04);
                height: toRem(31.99);
            }
        }
    }

    &__nav {
        display: flex;
        gap: toRem(16);

        &__item {
            &--desktop {
                display: none;
            }
        }

        &__link {
            font-weight: 500;
            color: var(--color-dark);
            text-decoration: inherit;
            display: flex;
            gap: toRem(8);
            font-size: toRem(16);
            line-height: toRem(20);
            letter-spacing: 0.4px;

            &:hover {
                color: var(--color-dark-blue);
            }

            &--primary {
                font-weight: bold;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: toRem(14) toRem(0);

        &__nav {
            &__item {
                &--desktop {
                    display: block;
                }
            }
        }
    }
}