.header {
    &__wrapper {
        width: 100%;
        padding: calc-rem(12) calc-rem(24);
        display: flex;
        justify-content: space-between;
        font-family: var(--font-br-sonoma);    
        align-items: center;
    }

    &__logo {
        &__img {
            img {
                width: calc-rem(65.04);
                height: calc-rem(31.99);
            }
        }
    }

    &__nav {
        display: flex;
        gap: calc-rem(16);

        &__item {
            &--desktop {
                display: none;
            }
        }

        &__link {
            font-weight: 500;
            color: var(--color-dark);
            text-decoration: inherit;
            display: flex;
            gap: calc-rem(8);
            font-size: calc-rem(16);
            line-height: calc-rem(20);
            letter-spacing: 0.4px;

            &:hover {
                color: var(--color-dark-blue);
            }

            &--primary {
                font-weight: bold;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: calc-rem(14) calc-rem(0);

        &__nav {
            &__item {
                &--desktop {
                    display: block;
                }
            }
        }
    }
}