.header {
    z-index: 3;

    &__wrapper {
        width: 100%;
        padding: toRem(12) toRem(24);
        display: flex;
        justify-content: space-between;
        font-family: var(--font-br-sonoma);    
        align-items: center;
    }

    &__logo {
        &__img {
            img {
                width: toRem(65.04);
                height: toRem(31.99);
            }
        }
    }

    &__nav {
        display: flex;
        gap: toRem(16);

        &__item {
            &--desktop {
                display: none;
            }
        }

        &__link {
            font-weight: 500;
            color: var(--color-dark);
            text-decoration: inherit;
            display: inline-block;

            span {
                vertical-align: text-top;
            }

            &--primary {
                font-size: toRem(16);
                line-height: toRem(20);
                letter-spacing: toRem(0.4);
                font-weight: bold;
            }

            &:hover {
                color: var(--color-dark-blue);
            }

            svg {
                vertical-align: text-bottom;
                margin-right: toRem(8);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__logo {
            &__img {
                img {
                    width: toRem(73.19);
                    height: toRem(36);
                }
            }
        }

        &__wrapper {
            padding: toRem(14) toRem(24);
        }

        &__nav {
            &__item {
                &--desktop {
                    display: block;
                }
            }

            &__link {
                font-size: toRem(12);
                line-height: toRem(16);
                letter-spacing: toRem(0.2);
                font-weight: 600;

                &--primary {
                    font-size: toRem(18);
                }
    
                &:hover {
                    color: var(--color-dark-blue);
                }
    
                &--primary {
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (min-width: 1142px) {
    .header {
        &__wrapper {
            padding: toRem(14) 0;
        }
    }
}