:root {
    --color-dark: #03050F;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-light-blue: #00F4E2;
    --color-gray-blue: #7981B2;
    --color-blue: #4F4FFF;
    --color-dark-blue-2: #0A051E;
    --color-dark-blue: #141938;
    --color-gray-dark-blue : #2B304E;
    --color-dark-gray: #5E6488;
    --color-gray: #CCD1EE;
    --color-green: #00FF7F;
    --color-light-green: #7DF0BA;
    --color-light: #F8F9FF;
    --color-red: #FF1C44;

    --font-lato: 'lato';
    --font-br-sonoma: 'br-sonoma';
}