:root {
    --color-dark: #03050F;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-light-blue: #00F4E2;
    --color-gray-blue: #7981B2;
    --color-blue: #4F4FFF;
    --color-dark-blue: #141938;
    --color-green: #00FF7F;
    --color-light-green: #7DF0BA;
    --color-red: #FF1C44;

    --font-lato: 'lato';
    --font-br-sonoma: 'br-sonoma';
}