@import 'fonts';
@import 'root';

body {
    margin: 0;
    display: flex;
    place-items: center;
    font-family: var(--font-lato);
    background: var(--color-light);
    color: var(--color-dark);
}

div#root {
    width: 100%;    
    display: grid;
    grid-template-areas: 'header'
                        'main' 
                        'footer';
    min-height: 100vh;
    grid-auto-rows: max-content auto max-content;    
    position: relative;
    overflow: hidden;

    main {
        position: relative;
        overflow: hidden;
    }
    
}

a {
    font-weight: 500;
    color: var(--color-dark);
    text-decoration: inherit;
}

a:hover {
    color: var(--color-dark-blue);
}

  
* {
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}

picture {
    display: flex;
}

.tag {
    font-size: toRem(12);
    line-height: toRem(16);
    font-weight: 700;
    display: inline-flex;
    background: var(--color-light-green);
    padding: toRem(2) toRem(8);
    border-radius: toRem(6);
    width: max-content;

    &--gradient {
        padding: toRem(4) toRem(8);
        border-radius: toRem(4);
        background: linear-gradient(90deg, var(--color-light-blue) 0%, var(--color-green) 100%);
    }
}

.loader {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: #fff;

    &__spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
        height: 3rem;
        border: 0.25rem solid var(--color-gray-blue);
        border-top: 0.25rem solid var(--color-red);
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: toRem(1120);
    }
}

@media screen and (min-width: 2000px) {
    html {
        font-size: calc(100% + 0.2vw);
    }
}

